:root {
    --duration-spiner-itaca: 7.7s; /* 7.7s es la duració original */
}

.spiner_itaca {
    width: var(--main-box);
    height: var(--main-box);
    position: relative;
}
.autos {
    position: absolute;
    animation-name: animacion_autos;
    animation-duration: var(--duration-spiner-itaca);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.punto {
    position: absolute;
    animation-name: animacion_punto;
    animation-duration: var(--duration-spiner-itaca);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.accidentes {
    position: absolute;
    animation-name: animacion_accidentes;
    animation-duration: var(--duration-spiner-itaca);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.hogar {
    position: absolute;
    animation-name: animacion_hogar;
    animation-duration: var(--duration-spiner-itaca);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* superior esquerra */
/* prettier-ignore */
@keyframes animacion_autos {
    0%  { top: 0px; left: 0px; width: 50px; height: 50px; background-color: black; opacity: 1;}
    5% { top: 15px; left: 15px; width: 20px; height: 20px; background-color: black; opacity: 1;}
    10% { top: 15px; left: 15px; width: 20px; height: 20px; background-color: black; opacity: 1;}
    13.5% { top: 22px; left: 22px; width: 6px; height: 6px; background-color: black; opacity: 1;}
    16.5% { top: 22px; left: 22px; width: 6px; height: 6px; background: url(./u.svg); opacity: 0; }
    20% { top: 5px; left: 5px; width: 40px; height: 40px; background: url(./u.svg); opacity: 1; }
    30% { top: 5px; left: 5px; width: 40px; height: 40px; background: url(./u.svg); opacity: 1; }
    33.5% { top: 5px; left: 5px; width: 40px; height: 40px; background: url(./u.svg); opacity: 1; }
    36.5% { top: 5px; left: 5px; width: 40px; height: 40px; background: url(./u.svg); opacity: 1; }
    40% { top: 5px; left: 5px; width: 40px; height: 40px; background: url(./u.svg); opacity: 1; }
    50% { top: 5px; left: 5px; width: 40px; height: 40px; background: url(./u.svg); opacity: 1; }
    53.5% { top: 22px; left: 22px; width: 6px; height: 6px; background: url(./u.svg); opacity: 0; }
    56.5% { top: 22px; left: 22px; width: 6px; height: 6px; background: url(./u.svg); opacity: 0; }
    60% { top: 15px; left: 15px; width: 20px; height: 20px; background: black; opacity: 1; }
    70% { top: 15px; left: 15px; width: 20px; height: 20px; background: black; opacity: 1; }
    73.5% { top: 22px; left: 22px; width: 6px; height: 6px; background: black; opacity: 0; }
    76.5% { top: 22px; left: 22px; width: 6px; height: 6px; background: black; opacity: 0; }
    80% { top: 5px; left: 5px; width: 40px; height: 40px; background: url(./u.svg); opacity: 1; }
    100% { top: 5px; left: 5px; width: 40px; height: 40px; background: url(./u.svg); opacity: 1; }
}

/* superior dreta */
/* prettier-ignore */
@keyframes animacion_punto {
    0%  { top: 0px; left: 50px; width: 50px; height: 50px; background-color: black; opacity: 1;}
    5% { top: 15px; left: 65px; width: 20px; height: 20px; background-color: black; opacity: 1;}
    10% { top: 15px; left: 65px; width: 20px; height: 20px; background-color: black; opacity: 1;}
    13.5% { top: 15px; left: 65px; width: 20px; height: 20px; background-color: black; opacity: 1;}
    16.5% { top: 15px; left: 65px; width: 20px; height: 20px; background-color: black; opacity: 1;}
    20% { top: 15px; left: 65px; width: 20px; height: 20px; background-color: black; opacity: 1;}
    30% { top: 15px; left: 65px; width: 20px; height: 20px; background-color: black; opacity: 1;}
    33.5% { top: 22px; left: 72px; width: 6px; height: 6px; background-color: black; opacity: 0; }
    36.5% { top: 22px; left: 72px; width: 6px; height: 6px; background-color: black; opacity: 0; }
    36.5% { top: 22px; left: 72px; width: 6px; height: 6px; background: url(./s.svg); opacity: 0; }
    40% { top: 5px; left: 55px; width: 40px; height: 40px; background: url(./s.svg); opacity: 1; }
    50% { top: 5px; left: 55px; width: 40px; height: 40px; background: url(./s.svg); opacity: 1; }
    53.5% { top: 22px; left: 72px; width: 6px; height: 6px; background: url(./s.svg); opacity: 0; }
    56.5% { top: 22px; left: 72px; width: 6px; height: 6px; background: url(./u.svg); opacity: 0; }
    60% { top: 5px; left: 55px; width: 40px; height: 40px; background: url(./u.svg); opacity: 1; }
    70% { top: 5px; left: 55px; width: 40px; height: 40px; background: url(./u.svg); opacity: 1; }
    73.5% { top: 22px; left: 72px; width: 6px; height: 6px; background: url(./u.svg); opacity: 0; }
    76.5% { top: 22px; left: 72px; width: 6px; height: 6px; background: url(./s.svg); opacity: 0; }
    80% { top: 5px; left: 55px; width: 40px; height: 40px; background: url(./s.svg); opacity: 1; }
    100% { top: 5px; left: 55px; width: 40px; height: 40px; background: url(./s.svg); opacity: 1; }
}

/* ifnferior dreta */
/* prettier-ignore */
@keyframes animacion_hogar {
    0%  { top: 50px; left: 0px; width: 50px; height: 50px; background-color: black; opacity: 1;}
    5% { top: 65px; left: 15px; width: 20px; height: 20px; background-color: black; opacity: 1;}
    10% { top: 65px; left: 15px; width: 20px; height: 20px; background-color: black; opacity: 1;}
    13.5% { top: 72px; left: 22px; width: 6px; height: 6px; background-color: black; opacity: 0;}
    16.5% { top: 72px; left: 22px; width: 6px; height: 6px; background: url(./s.svg); opacity: 0; }
    20% { top: 55px; left: 5px; width: 40px; height: 40px; background: url(./s.svg); opacity: 1; }
    30% { top: 55px; left: 5px; width: 40px; height: 40px; background: url(./s.svg); opacity: 1; }
    33.5% { top: 72px; left: 22px; width: 6px; height: 6px; background: url(./s.svg); opacity: 0; }
    36.5% { top: 72px; left: 22px; width: 6px; height: 6px; background: url(./s.svg); opacity: 0; }
    36.5% { top: 72px; left: 22px; width: 6px; height: 6px; background-color: black; opacity: 0; }
    40% { top: 65px; left: 15px; width: 20px; height: 20px; background-color: black; opacity: 1; }
    50% { top: 65px; left: 15px; width: 20px; height: 20px; background-color: black; opacity: 1; }
    53.5% { top: 72px; left: 22px; width: 6px; height: 6px; background-color: black; opacity: 0; }
    56.5% { top: 72px; left: 22px; width: 6px; height: 6px; background-color: black; opacity: 0; }
    56.5% { top: 72px; left: 22px; width: 6px; height: 6px; background: url(./s.svg); opacity: 0; }
    60% { top: 55px; left: 5px; width: 40px; height: 40px; background: url(./s.svg); opacity: 1; }
    70% { top: 55px; left: 5px; width: 40px; height: 40px; background: url(./s.svg); opacity: 1; }
    73.5% { top: 72px; left: 22px; width: 6px; height: 6px; background: url(./s.svg); opacity: 0; }
    76.5% { top: 72px; left: 22px; width: 6px; height: 4px; background: url(/s.svg); opacity: 0; }
    76.5% { top: 72px; left: 22px; width: 6px; height: 6px; background: url(/t.svg); opacity: 0; }
    80% { top: 55px; left: 5px; width: 40px; height: 40px; background: url(./t.svg); opacity: 1; }
    100% { top: 55px; left: 5px; width: 40px; height: 40px; background: url(./t.svg); opacity: 1; }
}

/* inferior esquerra */
/* prettier-ignore */
@keyframes animacion_accidentes {
    0%  { top: 50px; left: 50px; width: 50px; height: 50px; background-color: black; opacity: 1;}
    5% { top: 65px; left: 65px; width: 20px; height: 20px; background-color: black; opacity: 1;}
    10% { top: 65px; left: 65px; width: 20px; height: 20px; background-color: black; opacity: 1;}
    13.5% { top: 72px; left: 72px; width: 6px; height: 6px; background-color: black; opacity: 0;}
    16.5% { top: 72px; left: 72px; width: 6px; height: 6px; background-color: black; opacity: 0;}
    16.5% { top: 72px; left: 72px; width: 6px; height: 6px; background: url(./t.svg); opacity: 0; }
    20% { top: 55px; left: 55px; width: 40px; height: 40px; background: url(./t.svg); opacity: 1; }    
    70% { top: 55px; left: 55px; width: 40px; height: 40px; background: url(./t.svg); opacity: 1; }
    73.5% { top: 72px; left: 72px; width: 6px; height: 6px; background: url(./t.svg); opacity: 0; }
    76.5% { top: 72px; left: 72px; width: 6px; height: 6px; background: url(./t.svg); opacity: 0; }
    76.5% { top: 72px; left: 72px; width: 6px; height: 6px; background-color: black; opacity: 0; }
    80%  { top: 65px; left: 65px; width: 20px; height: 20px; background-color: black; opacity: 1; }
    100% { top: 65px; left: 65px; width: 20px; height: 20px; background-color: black; opacity: 1; }
}
