.spiner {
  width: 100px;
  height: 100px;
/*  background-color: beige; */
  position: relative;
  z-index: 0;
}
.autos {
  position: absolute;
  animation-name: animacion_autos;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.punto {
  position: absolute;
  animation-name: animacion_punto;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 100;
}

.accidentes {
  position: absolute;
  animation-name: animacion_accidentes;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.hogar {
  position: absolute;
  animation-name: animacion_hogar;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* superior izquierda */
@keyframes animacion_autos {
  0% {
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background-color: black;
    opacity: 1;
  }

  10% {
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 1;
  }

  20% {
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 1;
  }
  21% {
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    background: url(././autos.svg);
    opacity: 1;
  }

  30% {
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: url(././autos.svg);
    opacity: 1;
  }

  40% {
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: url(././autos.svg);
    opacity: 1;
  }

  41% {
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: url(././autos.svg);
    opacity: 1;
  }

  50% {
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    background: url(././autos.svg);
    opacity: 1;
  }

  51% {
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 1;
  }

  60% {
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 1;
  }

  61% {
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 0;
  }

  70% {
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 0;
  }

  71% {
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    background: url(././autos.svg);
    opacity: 1;
  }

  80% {
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: url(././autos.svg);
    opacity: 1;
  }

  100% {
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: url(././autos.svg);
    opacity: 1;
  }
}

@keyframes animacion_punto {
  0% {
    top: 0px;
    left: 50px;
    width: 50px;
    height: 50px;
    background-color: black;
    opacity: 1;
  }

  10% {
    top: 15px;
    left: 65px;
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 1;
  }

  20% {
    top: 15px;
    left: 65px;
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 1;
  }
  21% {
    top: 15px;
    left: 65px;
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 0;
  }

  30% {
    top: 15px;
    left: 65px;
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 0;
  }

  31% {
    top: 15px;
    left: 65px;
    width: 20px;
    height: 20px;
    background: url(././hogar.svg);
    opacity: 1;
  }

  40% {
    top: 5px;
    left: 55px;
    width: 40px;
    height: 40px;
    background: url(././hogar.svg);
    opacity: 1;
  }

  41% {
    top: 5px;
    left: 55px;
    width: 40px;
    height: 40px;
    background: url(./hogar.svg);
    opacity: 0;
  }


  50% {
    top: 5px;
    left: 55px;
    width: 40px;
    height: 40px;
    background: url(./hogar.svg);
    opacity: 0;
  }

  51% {
    top: 5px;
    left: 55px;
    width: 40px;
    height: 40px;
    background: url(./autos.svg);
    opacity: 1;
  }

  60% {
    top: 5px;
    left: 55px;
    width: 40px;
    height: 40px;
    background: url(./autos.svg);
    opacity: 1;
  }

  61% {
    top: 5px;
    left: 55px;
    width: 40px;
    height: 40px;
    background: url(./autos.svg);
    opacity: 0;
  }

  70% {
    top: 5px;
    left: 55px;
    width: 40px;
    height: 40px;
    background: url(./autos.svg);
    opacity: 0;
  }

  80% {
    top: 5px;
    left: 55px;
    width: 40px;
    height: 40px;
    background: url(././hogar.svg);
    opacity: 1;
  }

  100% {
    top: 5px;
    left: 55px;
    width: 40px;
    height: 40px;
    background: url(././hogar.svg);
    opacity: 1;
  }
}

@keyframes animacion_hogar {
  0%  { top: 50px; left: 0px; width: 50px; height: 50px; background-color: black; }
  10% { top: 65px; left: 15px; width: 20px; height: 20px; background-color: black; }
  11% { top: 65px; left: 15px; width: 20px; height: 20px; background-color: black; opacity: 0; }
  20% { top: 65px; left: 15px; width: 20px; height: 20px; background-color: black; opacity: 0; }
  21% { top: 65px; left: 15px; width: 20px; height: 20px; background: url(./hogar.svg); opacity: 1; }
  30% { top: 55px; left: 5px; width: 40px; height: 40px; background: url(./hogar.svg); opacity: 1; }
  39% { top: 55px; left: 5px; width: 40px; height: 40px; background: url(./hogar.svg); opacity: 0; }
  40% { top: 55px; left: 5px; width: 40px; height: 40px; background: url(./hogar.svg); opacity: 0; }
  49% { top: 65px; left: 15px; width: 20px; height: 20px; background: url(./hogar.svg); opacity: 0; }
  50% { top: 65px; left: 15px; width: 20px; height: 20px; background-color: black; opacity: 1; }
  60% { top: 65px; left: 15px; width: 20px; height: 20px; background-color: black; opacity: 0; }
  70% { top: 55px; left: 5px; width: 40px; height: 40px; background: url(./hogar.svg); opacity: 1; }
  80% { top: 55px; left: 5px; width: 40px; height: 40px; background: url(./salud.svg); opacity: 1; }
  100% { top: 55px; left: 5px; width: 40px; height: 40px; background: url(./salud.svg); opacity: 1; }
}

@keyframes animacion_accidentes {
  0% {
    top: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    background-color: black;
  }

  10% {
    top: 65px;
    left: 65px;
    width: 20px;
    height: 20px;
    background-color: black;
  }

  20% {
    top: 55px;
    left: 55px;
    width: 40px;
    height: 40px;
    background-color: black;
    opacity: 0;
  }

  30% {
    top: 55px;
    left: 55px;
    width: 40px;
    height: 40px;
    background: url(./salud.svg);
    opacity: 1;
  }

  40% {
    top: 55px;
    left: 55px;
    width: 40px;
    height: 40px;
    background: url(./salud.svg);
    opacity: 1;
  }

  50% {
    top: 55px;
    left: 55px;
    width: 40px;
    height: 40px;
    background: url(./salud.svg);
    opacity: 0;
  }

  60% {
    top: 55px;
    left: 55px;
    width: 40px;
    height: 40px;
    background: url(./salud.svg);
    opacity: 1;
  }

  70% {
    top: 55px;
    left: 55px;
    width: 40px;
    height: 40px;
    background: url(./salud.svg);
    opacity: 0;
  }

  80% {
    top: 65px;
    left: 65px;
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 1;
  }

  100% {
    top: 65px;
    left: 65px;
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 1;
  }
}
